.more {
  display: flex;
  flex-direction: column;
  padding: 5px 15px;
  cursor: pointer;

  &__span {
    width: 4px;
    height: 4px;
    background-color: #C5C7CD;
    border-radius: 50%;

    &:not(:last-child) {
      margin-bottom: 2px;
    }
  }

  &__modal-btn {
    padding: 10px 20px;
    cursor: pointer;
    &:hover {
      background-color: #C5C7CD;
    }
  }
}

.more-modal {
  top: 0;
}

.more-modal-wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  overflow: visible;
}

.inner {
  .ant-modal-body {
    padding: 0;
  }
}