.contacts {
  background-color: #fff;
  padding: 36px 32px;
  border: 1px solid #DFE0EB;
  border-radius: 8px;
  height: 85vh;
  overflow-y: scroll;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
  }

  &__btn-add {
    color: #3751FF;
  }

  &__inner {
    color:  #4B506D;
    font-weight: 600;
    display: flex;
  }

  &__btn-icon {
    margin-right: 10px;
  }

  &__btn-sort,
  &__btn-filter {
    display: flex;
  }

  &__btn-sort {
    margin-right: 20px;
  }
}

.ant-modal-header {
  border-bottom: none;
}

.ant-modal-title {
  font-size: 24px;
  text-align: center;
  font-weight: 700;
  padding-top: 32px;
}