.component-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 54px;
}

.component-header__title {
  font-size: 24px;
  font-weight: 700;
}

.component-header__photo {
  border-radius: 50%;
}


.component-header__user {
  display: flex;
  align-items: center;
}

.component-header__name {
  margin-right: 16px;
}