.navbar {
  padding: 35px 0;
  width: 260px;
  flex: 1 0 auto
}

.navbar__list {
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(159, 162, 180, 0.08);
}

.navbar__list--down {
  padding-bottom: 0;
  padding-top: 16px;
  border-bottom: none;
}

.navbar__header {
  display: flex;
  align-items: center;
  padding: 0 35px;
  margin-bottom: 59px;
}

.navbar__logo {
  margin-right: 12px;
}

.navbar__title {
  color:#A4A6B3;
  font-size: 19px;
  font-weight: 700;
}


.navbar__icon {
  display: flex;
  align-items: center;
  margin-right: 24px;
}

.navbar__flex {
  display: flex;
  align-items: center;
}

.navbar__link {
  display: block;
  color:#DDE2FF;
  padding: 18px 32px;
}

.navbar__link--active {
  background-color: rgba(159, 162, 180, 0.08);
  border-left: 3px solid #DDE2FF;
  padding-left: 29px;
}

